.services {
  background-color: antiquewhite;
  width: 1500px;
  margin: 0 auto;
  flex-direction: row;
  transition: transform 0.2s; /* Animation */
  padding-top: 100px;
}
.services__title {
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.services__image {
  width: 250px;
  border-radius: 10%;
}

.services__text {
  font-family: "Courier New", Courier, monospace;
}
.services__column {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  width: 650px;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
  list-style: none;
}
.services__column li {
  margin-left: 50px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.services__column li :hover {
  transform: scale(1.5);
}
